
.navbar1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 120px;
    background-color: rgb(220, 153, 60);
}

.navbar1 p {
    margin-top: 0;
    font-family: 'Black Ops One', cursive;
    font-size: 750%;
    color: rgb(48, 31, 19);
    text-shadow: -5px 5px 5px black;
    font-weight: bolder;
    margin-left: 10px;
}
.navbar1 img{
  width: 100px;
  margin-bottom: 20px;
}

.description {
    position: sticky;
    top: 0;
    background-color: rgb(220, 153, 60);
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(48, 31, 19);
}

.main p {
    text-align: center;
    font-size: 300%;
    font-family: "Josefin Sans", sans-serif;
}

.content p{
    font-family: "Josefin Sans", sans-serif;
    text-align: justify;
    border: 1px solid rgb(48, 31, 19) ;
    margin: 5% 20% ;
    padding: 3% ;
}

.heading {
    font-size: 60px;
    font-family: "Shadows Into Light", cursive;
    font-weight: bolder;
    text-align: center;
    text-shadow: -2px 5px 5px black;
}

.types {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 18px;
}

.types p {
    margin: 0px 30px;

}

.types ul {
    margin: 0px 35px;
}

.types li {
    margin-top: 15px;
    text-align: justify;
}

.brand {
    margin-left: 10%;
    margin-right: 5%;
}

.brand h2 {
    font-weight: bolder;
}

.brand1 img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
   
}

.brand2 img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

 .brand1  {
    display: flex;
    margin-bottom: 50px;
 }

 .brand2 {
    display: flex;
    margin-bottom: 50px;
 }

 .intro {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;    
 }

.img-gallery{
    background-color: rgb(220, 153, 60);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    margin: 0;
    padding: 50px 19%;
}

 .img-gallery img {
   
    border-radius: 50px;
    width: 300px;
    height: 250px;
 }

 .img-gallery img:hover {
    box-shadow: 2px 3px 5px black;
    scale: 1;
 }

.querytable {
    background-color: rgb(220, 153, 60);
    margin: 0 250px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

 table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    border-collapse: collapse;
 }

 td{
    padding: 10px;
    width: 150px;
 }

 input,textarea {
    width: 350px;
    border: 1px inset black;
    border-radius: 5px;
 }

 .querytable button{
    padding:0 10px;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    background-color:  rgb(48, 31, 19);
    color: white;
 }

 .querytable button:hover {
    background-color: rgb(220, 153, 60) ;
    box-shadow: 2px 2px 2px black;
 }
 
 .contact-img {
    position: fixed;
    bottom: 7%;
    margin-left: 93%;
    border-radius: 50px;
 }

 .contact-img img {
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.5s ease;
 }

.reachus {
    background-color: rgb(220, 153, 60) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
}

.address {
    text-align: justify;
    width: 250px;
    margin-left: 10px;

}

.address a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(48, 31, 19);
} 

.address a:hover {
    color: white;
}

.copyright {
    font-size: 10px;
}

